.card {
    height: fit-content;
    border: 1px solid #ccc;
    border-radius: 10px; /* Закругляем углы */
    padding: 10px;
    text-align: center;
    display: inline-block; /* Отображаем как блочный элемент с возможностью выравнивания по горизонтали и вертикали */
    cursor: pointer; /* Смена курсора при наведении */
    background-color: #A67E6F;
    color: #D9D9D9;
    text-decoration: none;
    font-size: 18px;
}

.cards-gallery {
    width: 100%;
    display: grid;
    justify-content: space-between;
    gap: 64px;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку при нехватке места */
}

@media only screen and (max-width: 1440px) {
    .cards-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px){
    .cards-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .cards-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0; /* Закругляем углы изображения сверху */
}
